
.corpo { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 700px;
  margin: 70px auto 20px auto;
  border-radius: 50px;
  font-family: 'JetBrains', sans-serif;
  background-color: rgb(41, 39, 39);
  padding: 40px;
  box-sizing: border-box;
  height: 600px;
}


.titulo {
  color: white;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}


.selectContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}



