
.Select {
  height: 50px;
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  border: groove;
  font-size: 1em;
  appearance: none;
}

.Select option {
  background-color: black;
  color: whitesmoke;
}
